/* Set the size of the div element that contains the map */
#map {
    height: 600px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

#carousel-index-like, #carousel-index-rate, #carousel-index-new  {
  overflow: hidden;
}



.carousel-inner {
  width: 100vw;
  height: 400px;
}

.carousel-inner img {
  width: 100%;
  min-height: 50vh;
}

/* ######################################################## */

.accounts-index {
  height: 25vh;
  text-align: center;
}

a {
  text-decoration: none !important; 
}

.card-img {
  background-image: url('../photo/1.jpeg') !important;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;

}