/* Set the size of the div element that contains the map */
#map {
    height: 600px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

.carousel-inner {
  width: 100vw;
  height: 400px;
}

.carousel-inner img {
  width: 100%;
  min-height: 50vw;
}

.accounts-index {
  height: 25vh;
  background-color: orange;
  text-align: center;
}

a {
  text-decoration: none !important; 
}