{% extends '../base/base.html' %}
{% load static %}
{% load django_bootstrap5 %}





{% block content %}
<!-- 검색창 -->
<form class='mb-4' action="{% url 'search_input' %}" method="GET">
  <div class="row">
    <div>
      <input id="search" class='form-control form-control-lg' type="text" placeholder='위치를 입력해주세요' name="user_search">
    </div>
  </div>
</form>

  <h3 class="text-center my-3">어디갈래? 여기갈래!</h3>
  <div id="carousel-index-new" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel-index-new" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel-index-new" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel-index-new" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">

      {% for review in reviews %}
        <div class="carousel-item active">
          {% if review.image %}
            <img src={{ review.image.url }} class="d-block w-100" alt="...">
          {% else %}
            <img src="{% static 'photo/1.jpeg' %}" class="d-block w-100" alt="...">
          {% endif %}
        </div>
      {% endfor %}

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-index-new" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-index-new" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <hr>
  <div class="accounts-index px-2">
    <h3 class="text-center my-3">좋아요 TOP 4</h3>
    <div class="row">
      {% for like in like_results %}
      <div class="col-3">
        <div class="card-3">
          {% if image %}
            <img src="{{ like.image.url }}" class="card-img-top" alt="...">
          {% endif %}
          <div class="card-img">
            <h5 class="card-title text-white pt-1">{{ like.title }}</h5>
            <p class="text-white">작성자:
              {{like.author.username}}</p>
            <a href="{% url 'review-detail' like.pk %}" class="btn btn-outline-primary my-3 text-white">자세히보기</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <hr>
  <div class="accounts-index px-2">
    <h3 class="text-center my-3">별점 TOP 4</h3>
    <div class="row">
      {% for rate in rate_results %}
      <div class="col-3">
        <div class="card-3">
          {% if image %}
            <img src="{{ rate.image.url }}" class="card-img-top" alt="...">
          {% endif %}
          <div class="card-img">
            <h5 class="card-title text-white pt-1">{{ rate.title }}</h5>
            <p class="text-white">작성자:
              {{rate.author.username}}</p>
            <a href="{% url 'review-detail' rate.pk %}" class="btn btn-outline-primary my-3 text-white">자세히보기</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <hr>



{% comment %} 스크립트 {% endcomment %} 
<script>

</script>

{% endblock content %}