{% extends '../base/base.html' %}
{% load static %}

{% block content %}

  <div class="accounts-index position-relative">
    {% comment %} 게시판 {% endcomment %}
    <div class="row">
      {% for review in reviews %}
      <div class="col-3">
        <div class="card position-absolute">
          {% if image %}
            <img src="{{ review.image.url }}" class="card-img-top" alt="...">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ review.title }}</h5>
            <p>작성자:
              {{review.author.username}}</p>
            <a href="{% url 'review-detail' review.pk %}" class="btn btn-outline-primary my-3">자세히보기</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <hr>
  <div class="accounts-index position-relative">
    좋아요 순
    <div class="row">
      {% for like in like_results %}
      <div class="col-3">
        <div class="card position-absolute">
          {% if image %}
            <img src="{{ like.image.url }}" class="card-img-top" alt="...">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ like.title }}</h5>
            <p>작성자:
              {{like.author.username}}</p>
            <a href="{% url 'review-detail' like.pk %}" class="btn btn-outline-primary my-3">자세히보기</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <hr>
  <div class="accounts-index position-relative">
    별점 순
    <div class="row">
      {% for rate in rate_results %}
      <div class="col-3">
        <div class="card position-absolute">
          {% if image %}
            <img src="{{ rate.image.url }}" class="card-img-top" alt="...">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ rate.title }}</h5>
            <p>작성자:
              {{rate.author.username}}</p>
            <a href="{% url 'review-detail' rate.pk %}" class="btn btn-outline-primary my-3">자세히보기</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% comment %} 글쓰기 버튼 {% endcomment %}
  <div class="d-flex justify-content-end">
    <a class="btn btn-primary my-3 float-right" href="{% url 'review-create' %}">글 쓰기</a>
  </div>

{% endblock content %}