{% extends '../base/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="row mt-5">
    <h1 class="text-center">로그인</h1>
    <form method="POST" class="my-3">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_button button_type="submit" button_class="btn-primary" content="로그인하기" %}
      <button class='btn btn-primary'><a href="{% url 'signup' %}" style="color:white; text-decoration:none;">회원 가입하기</button>
    </form>
  </div>
{% endblock content %}